<!--The content below is only a placeholder and can be replaced.-->

<header class="w3-container w3-red w3-center" style="padding:128px 16px">
    <h1 class="w3-margin w3-jumbo">Too Lazy For PPTX</h1>
    <p class="w3-xlarge">Get Started Today!</p>
    <nav>
      <a routerLink="/login" routerLinkActive="active"><button class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Login</button></a>
      <a routerLink="/signup" routerLinkActive="active"><button class="w3-button w3-black w3-padding-large w3-large w3-margin-top">SignUp</button></a>
    </nav>
  </header>
  
  <!-- First Grid -->
  <div class="w3-row-padding w3-padding-64 w3-container">
    <div class="w3-content">
      <div class="w3-twothird">
        <h1>A Brand New Tool</h1>
        <h5 class="w3-padding-32">Introducing a brand new way to create dynamic presentations</h5>
  
        <p class="w3-text-grey">With our product there is no more need to create presentations as they are generated then you speak. Our intelegent program recognizes human voice and dynamically generates a presentation with all main points and important information. The presenter, with the use of trigger words can control the presentation along with the information that he wants to record and display on the slides.</p>
      </div>
  
      <div class="w3-third w3-center">
        <i class="fa fa-angellist w3-padding-64 w3-text-red"></i>
      </div>
    </div>
  </div>
  
  <!-- Second Grid -->
  <div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
    <div class="w3-content">
      <div class="w3-third w3-center">
        <i class="fa fa-anchor w3-padding-64 w3-text-red w3-margin-right"></i>
      </div>
  
      <div class="w3-twothird">
        <h1>Convenient and Multifunctional</h1>
        <h5 class="w3-padding-32">Our program pack a lot of different features</h5>
  
        <p class="w3-text-grey">The Program allows to dynamically generate the presentetion on the slides. It can full or summarized if you decide to use one of our features to make it concise. In addition, the user has the ability to set his or her own trigger words to control the presentation in the way that they want to.</p>
      </div>
    </div>
  </div>
  
  <div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
      <h1 class="w3-margin w3-xlarge">Creating New Inovative Tools</h1>
  </div>
  
  <!-- Footer -->
  <footer class="w3-container w3-padding-64 w3-center w3-opacity">  
    <div class="w3-xlarge w3-padding-32">
      <i class="fa fa-facebook-official w3-hover-opacity"></i>
      <i class="fa fa-instagram w3-hover-opacity"></i>
      <i class="fa fa-snapchat w3-hover-opacity"></i>
      <i class="fa fa-pinterest-p w3-hover-opacity"></i>
      <i class="fa fa-twitter w3-hover-opacity"></i>
      <i class="fa fa-linkedin w3-hover-opacity"></i>
   </div>
   <p>Created by reality_lux</p>
  </footer>
  
  <router-outlet></router-outlet>
  
