body {
  font-family: 'Comfortaa', cursive;
}
#dyntitle {
  background-color: rgb(20, 20, 20);
   text-align: center;
   font-size: 60px;
    font-style: normal;
    color: #d5d8d2;
    text-transform: capitalize;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 15%;
   padding-top: 14px;
    vertical-align: text-top;
}

#dyntext {
  /*background-color: rgb(218, 221, 215);*/
   text-align: left;
    margin-top: 20px;
   vertical-align: center;
   font-size: 40px;
   position: absolute;
   top: 20%;
   left: 5%;
   width: 50%;
   height: 85%;
   padding: 5px;
}

#dynimg {
  /*background-color: rgb(21, 21, 221);*/
   text-align: center;
    margin-top: 20px;
   vertical-align: center;
   font-size: 30px;
   position: absolute;
   top: 20%;
   left: 50%;
   width: 50%;
   height: 85%;
}

img {
  max-width: 90%;
  max-height: 100%;
}